<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>GhBlog - Your blog with post on github (or git)</title>
        <meta name="description" content="Create blog with github and git"/>
        <meta name="robots" content="index, follow"/>        
        <style>

        </style>
    </head>
    <body>
        <div class="site-wrapper">
            <header class="site-header">
                <h1><a href="/">GhBlog</a></h1>
                <!-- <nav>
                    <ul>
                        <li><a href="/install">Install</a></li>
                        <li><a href="http://docs.slimframework.com" target="_blank">Documentation</a></li>
                        <li><a href="/news">News</a></li>
                        <li><a href="/development">Development</a></li>
                        <li><a href="http://help.slimframework.com" target="_blank">Help</a></li>
                    </ul>
                </nav> -->
            </header>
            <div class="content">

            </div>
            <footer>
                <p class="credits">
                    Released under the <a href="/license">MIT Public License</a>.
                    Author: <a href="https://github.com/jwest">JWest (Jakub Westfalewski)</a>.
                </p>                
            </footer>
        </div>
    </body>
</html>
